 <div id="file_{{ file.name }}" class="block file">
    <div class="file__header">
        <div class="file__avatar">
            {% if file.userAvatar == NULL %}
                <img src="/image/avatar_default.jpg" alt="">
            {% else %}
                <img src="{{ file.userAvatar }}" alt="">
            {% endif %}
        </div>
        <div class="file__header-info">
            <div class="file__user-name">
                {% if file.userName == NULL %}
                    <h5>Аноним</h5>
                {% else %}
                    <h5><a href="">{{ file.userName }}</a></h5>
                {% endif %}
            </div>
            <div class="file__date">
                <span>{{ file.date|date("Y-m-d H:i:s") }}</span>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="file__three-dots dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Additional features</span>
                <span class="dot dot-left"></span>
                <span class="dot dot-center"></span>
                <span class="dot dot-rigth"></span>
            </button>
            <ul class="dropdown-menu">
                {% if file.canManage == true %}
                <li>
                    {% if controller == 'file' %}
                        <a class="pointer" onclick="showUpdateFileData('{{ file.name }}')"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                    {% else %}
                        <a class="pointer" href="/file/{{ file.name }}?updateFileData={{ file.name }}"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
                    {% endif %}
                </li>
                <li>
                    <a href="" onclick="removeFile(event, '{{ file.name }}')"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
                </li>
                {% else %}
                <li>
                    <a href="" onclick="event.preventDefault(); alert('Ваша жалоба отправлена в /dev/null')"><span class="glyphicon glyphicon-exclamation-sign"></span> Пожаловаться</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="file__body">
        <div class="file__description">
            <p>{{ file.description }}</p>
        </div>
        <div class="file__preview">
            {% if controller == 'file' %}
                <a data-toggle="modal" href="#modal-image"><img src="{{ file.thumbnailPath }}" alt=""></a>
            {% else %}
                <a href="/file/{{ file.name }}"><img src="{{ file.thumbnailPath }}" alt=""></a>
            {% endif %}
        </div>
        <div class="file__info">
            <div class="file__block-info">
                <div class="file__block-info-name">
                    <h4>{{ file.originalName }}</h4>
                </div>
                <div class="file__block-info-size">
                    <span>{{ formatSize(file.size) }}</span>
                </div>
            </div>
            {% if file.mediaInfo != null %}
                <button class="btn btn-default btn-sm" onclick="showOrHideTableFileInfo('{{ file.name }}')">Информация о файле</button>
                <div class="file__table-info table-responsive" id="table-file-info_{{ file.name }}">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                        {% for k, v in json_decode(file.mediaInfo) %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="file__footer">
        <ul>
            <li>
                <a class="btn btn-primary" href="/download/{{ file.name }}" onclick="increaseNumOfDownloads('{{ file.name }}')"><span class="glyphicon glyphicon-download-alt"></span> Скачать</a>
            </li>
            <li>
                <div>
                    <span class="glyphicon glyphicon-cloud-download"></span> Загрузок <span id="downloads-count-{{ file.name }}">{{ file.downloads }}</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="glyphicon glyphicon-comment"></span> Комментариев <span id="comments-count-{{ file.name }}">{{ file.comments|length }}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="file__comments">
        <form action="/comment/{{ file.name }}" method="post" id="form-comments-{{ file.name }}">
            <div id="comments-{{ file.name }}">
                {% if controller == 'files' %}
                    {% set showAllComments = 'false' %}
                    {% for comment in file.comments %}
                        {% if loop.length > 3 and showAllComments != 'on' %}
                            {% set showAllComments = 'true' %}
                        {% endif %}
                        {% if showAllComments == 'true' %}
                            <a id="show-all-comments-{{ file.name }}" class="file__show-all-comments" href="" onclick="getAllComments(event, '{{ file.name }}')">Показать все коментарии</a>
                            {% set showAllComments = 'on' %}
                        {% endif %}
                        {% if loop.index <= 3 %}
                            {% include 'comment.twig' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for comment in file.comments %}
                        {% include 'comment.twig' %}
                    {% endfor %}
                {% endif %}
            </div>
            <input type="hidden" class="csrfName" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" class="csrfValue" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <span id="comment-error-{{ file.name }}" class="file__comment-error"></span>
            <div class="input-group">
                <label class="sr-only" for="comment-text-{{ file.name }}">Comment</label>
                <div id="reply-user-name-{{ file.name }}" class="file__reply-user-name input-group-addon"></div>
                <textarea class="form-control" name="comment-text" id="comment-text-{{ file.name }}" rows="1" placeholder="Написать комментарий"></textarea>
                <span class="input-group-btn">
                    <button id="comment-submit-{{ file.name }}" type="button" class="btn btn-default" onclick="submitComment(event, '{{ file.name }}')">Отправить</button>
                </span>
            </div>
        </form>
    </div>
</div>